{% extends 'base.html' %}



    {% block content %}
    <h1 class="show-one">Details:</h1>
    <table class="table-show-single">
        <tr>
          <th>Country</th>
          <th>Visited</th>
          <th>Cities</th>
          <th>Edit</tr>
        </tr>
        <tr>
          <td><a href="/countries/{{country.id}}">{{country.name}}</a></td>
          <td> {% if country.visited %}
            <i class="fa fa-check fa-2x" style="color: green"></i>
        {% else %}
            <i class="fa fa-times fa-2x"></i>
        {% endif %}</td>
        <td>
         {% for city in cities %}
          {% if city.country.id == country.id %}
            {{city.name}}
            
          {% endif %}
         {% endfor %}

        </td>
            <td><a href="/countries/{{country.id}}/edit"><i class="fa fa-pencil-square" aria-hidden="true" style="color: rgb(128, 0, 115)"></i></a></td>
        </tr>
      </table>

    {% endblock content %}