{% extends 'base.html' %}

{% block content %}


    <h1 class="edit-title">Edit:</h1>
    <form action="/cities/{{city.id}}" method="post" class="form-edit">
        <div>
            <label for="name">City Name:&nbsp</label>
            <input type="text" id="name" value="{{city.name}}" name="name">
        </div>
  
        <div>
            <label for="country">Country:&nbsp</label>
            <select id="country" name="country_id">
                {% for country in all_countries %}
                    <option value="{{country.id}}"
                    {% if city.country.id == country.id %} selected="selected"{% endif %}>{{ country.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="visited">Visited:&nbsp</label>
            <select id="visited" name="visited">
                <option value="true"
                {% if city.visited %} selected="selected" {% endif %} >Visited</option>
                <option value="false"
                {% if city.visited == False %} selected="selected" {% endif %}>Not Yet!</option>
            </select>
        </div>
        
        <button type="submit" class="save-edit-btn">Save</button>
    </form>
{% endblock content %}